.bg-box {
    background-image: url(WhatsApp\ Image\ 2023-03-22\ at\ 12.02.09\ PM.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.container {
    width: 100px;
    height: 100px;
    position: relative;
}

.Title {
    position: absolute;
    background-color: ivory;
    margin-top: 10vh;
    margin-left: 120vh;
    border: black solid;
    border-radius: 3vw;
}

.Titletex {
    font-size: 10vw;
    animation: 3s linear 0s 1 alternate sun-set;
}

@keyframes sun-set {
    from {
      /* pushes the sun down past the viewport */
      opacity: 0;
      transform: translateY(10%);
    }
    to {
      /* returns the sun to its default position */
      opacity: 1;
      transform: translateY(0);
    }
}
